<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>



    <script src="node_modules/systemjs/dist/systemjs"></script>
    <script src="extras/transform.js"></script>
    <script src="plugin-babel/dist/babel-transform.js"></script>
    <script>
        // main and all its dependencies will now run through transform before loading
        System.import('app.js');
    </script>

</body>

</html>