<h1>Tuesday's Tacos</h1>

<div class="fade-block">
  <div class="background-pic"></div>

  <div class="grid-container">
    <div class="pending-title">
      <h4>Pending Orders</h4>
    </div>
    <div class="customer item">

      <!-- Small input -->
      <input class="form-control form-control-sm customer-name-field" type="text" placeholder="Customer Name">


    </div>
    <div class="pending item">

      <div class="card-wrapper">



        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>






    </div>




    <div class="menu item">


      <button class="item2 beef" data-id="1">Beef</button>
      <button class="item2 chicken" data-id="1">Chicken</button>
      <button class="item2 veggie" data-id="3">Veggie</button>
      <button class="item2 vegan" data-id="4">Vegan</button>
      <button class="item2 drink" data-id="5">Drink</button>




    </div>
    <div class="order-form item">Order Form</div>
  </div>

</div>