<h1>Tuesday's Tacos</h1>

<div class="fade-block">
  <div class="background-pic"></div>

  <div class="grid-container">

        {{#if pending}}
          {{> pendingOrdersCards/pendingOrdersHead}}
        {{/if}}

        {{#unless pending}}
          {{> allOrdersCards/allOrdersHead}}
        {{/unless}}
    <div class="customer item">

      <!-- Small input -->
      <input class="form-control form-control-sm customer-name-field" type="text" placeholder="Customer Name">

      <h3>You selected <span class=class="user-selected"></span></h3>


    </div>
    <div class="pending item">

      <div class="card-wrapper">

        {{#if pending}}
        {{#each orders}}  
        <ul>
          {{> pendingOrdersCards/pendingOrdersCards}}
        </ul>
        {{/each}}
        {{/if}}

        {{#unless pending}}
        {{#each orders}}
        <ul>
          {{> allOrdersCards/allOrdersCards}}
        </ul>
        {{/each}}
        {{/unless}}
        








        {{!-- <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card" style="padding-top: .5rem !important">
          <div class="card-body2" style="padding: .5rem !important">
            <h6 class="order-number">Order #<span class="time-ordered">Time Ordered</span></h6>
            <h6 class="card-subtitle mb-2 text-muted customer-name">Name</h6>
            <p class="card-text order-details">Some quick example text to build on the card title and
              make up the bulk
              of
              the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div> --}}

      </div>






    </div>




    <div class="menu item">


      <button class="item2 beef" data-id="1">Beef</button>
      <button class="item2 chicken" data-id="2">Chicken</button>
      <button class="item2 veggie" data-id="3">Veggie</button>
      <button class="item2 vegan" data-id="4">Vegan</button>
      <button class="item2 drink" data-id="5">Drink</button>



    </div>

    <div class="order-form-wrapper item">

      <div class="order-form">


        <div class="order-input-grid-container">
          <div class="item3 heading1">Pick a Shell</div>
          <div class="item3 heading2">Select Your Veggies</div>
          <div class="item3 heading3">Select Cheese and Sauce</div>


          <div class="item3 shell-inputs">

            <div class="btn-group selection btn-group-toggle shell" data-shell="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="shell" id="hard" autocomplete="off"> HARD
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="shell" id="soft" autocomplete="off"> SOFT
              </label>
            </div>

            <div class="btn-group selection btn-group-toggle shell-type" data-shell-type="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="shell-type" id="flour" autocomplete="off"> FLOUR
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="shell-type" id="corn" autocomplete="off"> CORN
              </label>
            </div>



          </div>


          <div class="item3 veggie-inputs">

            <div class="btn-group selection btn-group-toggle lettuce" data-lettuce="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn" style="width: .5rem !important">
                <input type="radio" name="lettuce" value="none" autocomplete="off"> NONE
              </label>
              <label class="btn btn-primary selection-btn" style="width: .5rem !important">
                <input type="radio" name="lettuce" value="light" autocomplete="off"> LIGHT
              </label>
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="lettuce" value="reg" autocomplete="off"> REG
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="lettuce" value="xtra" autocomplete="off"> XTRA
              </label>
            </div>


            <div class="btn-group selection btn-group-toggle tomatoes" data-tomatoes="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="tomatoes" id="none" autocomplete="off"> NONE
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="tomatoes" id="light" autocomplete="off"> LIGHT
              </label>
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="tomatoes" id="reg" autocomplete="off"> REG
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="tomatoes" id="xtra" autocomplete="off"> XTRA
              </label>
            </div>

            <div class="btn-group selection btn-group-toggle onion" data-onion="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="onion" id="none" autocomplete="off"> NONE
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="onion" id="light" autocomplete="off"> LIGHT
              </label>
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="onion" id="reg" autocomplete="off"> REG
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="onion" id="xtra" autocomplete="off"> XTRA
              </label>
            </div>


          </div>

          <div class="item3 other-inputs">

            <div class="btn-group selection btn-group-toggle cheese" data-cheese="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="cheese" id="none" autocomplete="off"> NONE
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="cheese" id="light" autocomplete="off"> LIGHT
              </label>
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="cheese" id="reg" autocomplete="off"> REG
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="cheese" id="xtra" autocomplete="off"> XTRA
              </label>
            </div>


            <div class="btn-group selection btn-group-toggle sauce" data-sauce="" data-toggle="buttons">
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="sauce" id="none" autocomplete="off"> NONE
              </label>
              <label class="btn btn-primary selection-btn active">
                <input type="radio" name="sauce" id="light" autocomplete="off"> MILD
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="sauce" id="reg" autocomplete="off"> HOT
              </label>
              <label class="btn btn-primary selection-btn">
                <input type="radio" name="sauce" id="xtra" autocomplete="off"> FIRE
              </label>
            </div>


          </div>
          <div class="item3 special-instructions">

            <div class="form-group shadow-textarea">
              <label for="exampleFormControlTextarea6">Special Instructions</label>
              <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                placeholder="Write something here..."></textarea>
            </div>


          </div>

          <div class="item3 order-btn-wrapper">

            <button class="order-btn btn peach-gradient add-item-to-order">Add to Order</button>
            <button class="order-btn btn peach-gradient submit-order">Submit Order</button>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>