

<section class="grid-container">
  <div class="customer">Customer Info</div>
  <div class="pending">Pending</div>
  <div class="menu">Menu</div>
  <div class="order-form">Order Form</div>
  <div class="item-e">item-e</div>
</section>